.profileInfoDesk{
  height: 100%;
  width: 100%;
}
.profileInfoDesk>ul{
  list-style-type: none;

  height: 100%;
}
.profileInfoDesk>li{
  height: 30%;
}
.contact{
  height: 10%;
  width: 95%;
  padding-left: 5%;
}
@media screen and (max-width: 1000px){
  .profileInfoDesk{
    padding-left: 2%;
    font-size: 2vh;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .profileInfoDesk>ul{
    list-style-type: none;
    width: 100%;
    height: 70%;
  }
  .profileInfoDesk>li{
    height: 30%;
  }
  .contact{
    height: 10%;
    width: 95%;
    padding-left: 5%;
  }

}
